/* Geral */

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );
  min-height: 100vh;
}

/* Header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Mulish", sans-serif;
  margin: 650 auto;
  padding-top: 65px;
}

header ul {
  display: flex;
  list-style: none;
  gap: 48px;
}

/* Main */

header ul a {
  text-decoration: none;
  color: #1f1534;
  opacity: 0.5;
}

a:hover {
  font-weight: bold;
  opacity: 1;
}

main {
  display: flex;
  justify-content: center;
  gap: 102px;
}

main h1 {
  font-family: "Mulish", sans-serif;
  font-size: 49px;
  line-height: 56px;
  color: #000;
  font-weight: 400;
}

main h1 span {
  color: #89c5cc;
  font-weight: bold;
}

#textos {
  width: 489px;
}

.textos,
p {
  margin: 40px 0;
  line-height: 28px;
  font-size: 14px;
  width: 438px;
  color: #7d7987;
}

.textos,
span {
  font-weight: bold;
}

button {
  background-color: #69b99d;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: #f9f9f9;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
}

button:hover {
  background: #4e8270;
}

#bolas {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Footer */

footer {
  text-align: center;
  color: #000;
  padding: 80px 0 30px 0;
}
